* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;

  font-weight: bold;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 14px;
  font-family: "Libre Baskerville", serif;
  background-color: white;
  color: black;
}
.container-margin {
  margin: 0 auto;
  width: 80%;
}
.conteiner-mt {
  margin-top: 20px;
}
.background-container {
  background-color: black;
  width: 100%;
}
.menu_nav a:hover {
  transition: all 0.2s linear;
  border: 0px;
  color: rgb(109, 109, 131);
  border-right: rgb(109, 109, 131) 1px solid;
}
.header_area {
  background-color: #1c1c1c;
}
.container-margin1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.button-header {
  color: white;
  background-color: black;
  border: none;
  padding: 2px;
}
.search-input {
  background-color: #323232;
  border: none;
  padding: 2px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.main-menu {
  margin: 0 auto;
  width: 80%;
}
.title-gray {
  color: #b0b0b0;
}
.title-white {
  color: white;
}

.title-white-gray {
  padding: 5px;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-weight: bold;
}

.menu_nav a {
  font-weight: bold;
}
.background-menu {
  margin: 0 auto;
  width: 80%;
  background-image: url(../img/banners/1500x500.jpg);
  height: 340px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}
.background-menu-text {
  margin: 15px;

  color: white;
}
.background-menu-text1 {
  background-color: black;
  opacity: 50%;
  width: 100%;
}
.menu_nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: black;
  width: 100%;
  padding: 10px 20px;
}

.menu_nav a {
  padding: 10px 20px;
  margin: 0 auto;
  border-right: white 1px solid;
  color: white;
}
/* Images Lists*/
.Images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.Images-li {
  border: solid 10px #b0b0b0;
  width: 210px;
  height: 145px;
  margin: 10px auto;
}
.Images-li:hover {
  border: solid 10px rgb(95, 91, 91);
  width: 220px;
  height: 155px;
  transition: all 0.2s linear;
}
.Images-li img {
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.Lists-flex {
  display: flex;
  flex-wrap: wrap;
}
.conteiner-Lists-right ul {
  list-style: none;
}
.Lists-flex ul,
.Lists-flex ol {
  padding: 20px;
}
.Lists-m-auto {
  margin: 5px auto;
}
/* table */
th {
  text-align: left;
  border-left: solid 1px #b0b0b0;
  border-bottom: solid 1px #b0b0b0;
  font-weight: bold;
  background-color: #efefef;
  padding: 5px;
}
td {
  border-left: solid 1px #b0b0b0;
  border-top: solid 1px #b0b0b0;
  padding: 5px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

/* forms */
.half-width {
  margin: 10px auto;
}
textarea {
  width: 300px;
  height: 100px;
  resize: none;
  padding: 5px;
}
input {
  padding: 0 5px;
}
.Button-form {
  padding: 5px 10px;
  color: white;
  background-color: black;
  border: none;
}

Button:hover {
  transition: all 0.2s linear;
  border: 0px;
  color: rgb(109, 109, 131);
  outline: none;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
input:hover,
textarea:hover,
select:hover {
  background-color: rgb(222, 225, 233);
}
.footer-top {
  width: 100%;
  background-color: black;
  color: white;
}
.footer-p {
  padding: 10px;
  margin-left: 10%;
}
.footer-p a:hover {
  transition: all 0.2s linear;

  color: rgb(109, 109, 131);
}
.Button-form:hover {
  transition: all 0.2s linear;
  border: 0px;
  color: rgb(109, 109, 131);
  outline: none;
  background-color: black;
}
/*button
 */
.up-button {
  position: fixed;
  z-index: 1;
  padding: 0;
  bottom: 75px;
  right: 20px;
  width: 64px;
  height: 64px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border: 5px solid;
  border-radius: 50%;
  display: none;
  cursor: pointer;
  color: #4c4c4c;
  background-color: rgba(255, 255, 255, 0.8);
  border-color: #4c4c4c;
  outline-color: #b6aaff;
}

.up-button:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  border-color: black;
}
.shown {
  display: inline-block;
}
